/* WebBusters main.css, 2013 */

/* main.css */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, 
table, tr, td, section, aside, article, header, footer{
	margin: 0; 
	padding: 0;
	/*border: 1px red solid;*/
}

body {
	font-family: Calibri, Corbel, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 24px;
	min-width: 440px;
	background-color: #e1e8f6;
	/*background-image: url('../images/bg.jpg');*/
	background-repeat: no-repeat;
}

#container {
	width: 90%; 
	margin: 0 auto;  /*center*/
	overflow: hidden; /*hide content overflowing element's box*/
	/*background-color: #1a305c;*/
	/* Round corners */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

header{
	margin: 0;
	padding: 10px;
	padding-bottom: 40px;
	height: 100px;
	background-color: #15264a;
	/* Background */
	/*background: rgba(0, 0, 0, 0.2);*/

	/* Border bottom light */
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	/* Inner top shadow */
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);

	/* Round corners */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	border-top: #ccc 0px solid;
	border-right: #ccc 3px solid;
	border-bottom: #777 5px solid;
	border-left: #777 0px solid;

  /*background-image: url('../images/solid.png');*/
}

.webbusterlogo{
	float: left;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	padding-right: 100%;
}

.webbusterlogo2{
	float: left;
	padding-top: 33px;
	width: 117px;
	height: 47px;
	border: 0;
}

#search{
	float: right;
	/*margin-top: 90px; */
}

.logo{
	float: left;
	/*padding-top: 25px; */
	width: 130px;
	height: 130px;
	border: 0;
}

header h1 {	
	font-size: 34px;
	font-weight: bold;
	margin: 5px;
	padding-top: 25px;
	padding-left: 136px;
	text-align: left;
	/*padding: 10px;*/
	color:#58ACFA;
	/*text-shadow: 0px 2px 1px #ffffff; */
}

header h2 {	
	font-size: 22px;
	margin: 5px 0 20px 0;
	padding-left: 140px;
	color:#CEE3F6;
	/*text-shadow: 0px 2px 1px #ffffff; */
	text-align: left; 
}

/******************************************** .mainnav *******************************************/
.mainnav{
	clear: both;
	width: 100%;
	height: 50px;
	margin: -1px;
	padding: 0px;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 10px 10px 2px 2px;
	background-color: #15264a;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 5px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 5px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 5px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 5px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
.mainnav ul{
	clear: both;
	list-style-type: none;
	float: right;
	padding:10px;
	font-size:90%
}

.mainnav ul li{
	display: inline;
	padding-right: 15px;
}

.mainnav ul li a{
	text-decoration: none;
}

#content{
	float: left;
	width: 100%;
	background-color: #1a305c;
}

/******************************************** .sidenav *******************************************/
.sidenav{
	margin: 0px ;
	clear: both;
	width: 250px;
	/*height: 400px;*/
	float: left; 
	padding:10px;
	background-color: #1a305c;
	}

.sidenav ul{
	list-style-type: none;
	/*float: left;*/
	font-size: 110%;
}

.sidenav ul li{
	display: block;
}

.sidenav ul li a{
	text-decoration: none;
}

#main{
	margin-left: 270px;
	/*height: 600px;*/
	background: rgba(255,255,255,0.8);
	padding: 10px;
	border: 0;
}

article{
	margin: 1%;
}

/******************************************** Footer *******************************************/
#mainfooter{
	clear: both;
	float: left;
	width: 100%;
	color:#2C1F41;
	text-align: center;
	font-size:80%;
	background-color: #DDDDDD;
}

.footernav ul{
	margin: 10px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.footernav nav{

}

.footernav ul li{
	display: inline;
}

.footernav ul li a{
	display: inline-block;
	text-decoration: none;
	color:#2C1F41;
	padding: 0 20px;
}

/* active page nav item background color */
.mainnav li.active a, .sidenav li.active a {
	color: #00BFFF;
}

/******************************************** Links *******************************************/
/* links LoVe HAte */

a:link {
	color: #ffffff;
}

a:visited {
	color: #eaeaea;
}

a:hover {
	color: #869DC7;
	background-color: #eaeaea;
}

a[href*="week3.html"]{
	color: #FE9A2E;
}

/*************************************** Main Content ****************************************/
h2 {
	text-transform: capitalize; /* capitalize first letter of every word */
}

#main a:link {
	color: #064E99;
	text-decoration: none;
}

#main a:visited {
	color: #DF7401;
}

#main a:hover {
	background-color: #CBCBCB;
}

#main a:active {
}

#main .content_section {
	padding-bottom: 15px;
}

#main h2 {
	background-color: #1A305C; /* same colour as background */
	color: #eaeaea; /* same colour as sidenav fonts */
	border-radius: 10px;
	padding: 5px;
}

#main p {
	margin-left: 25px;
	padding-bottom: 10px;
}

#main h3 {
	padding: 5px 5px 0;
}

#main ul {
	padding: 0 0 5px;
}

#main li {
	margin-left: 40px;
}

#main ul > li {
	list-style-type: disc;
}

#main ul > li > ul > li {
	list-style-type: circle;
}

/******************************************* Wireframes Page ********************************************/
#wireframes a {
	display: inline-block;
	padding-right: 30px;
}

#wireframes img {
	width: 100%;
}

#wireframes_style li > ul > li {
	margin-left: 30px;
	list-style-type: disc;
}

#wireframes_style li > ul > li > a {
	font-size: 90%;
}
/*************************************** Bookmark to Top ***********************************/
.bookmark {
	float: right;
	padding-right: 5px;
}

.bookmark > a:link {
	font-size: 20px;
	font-weight: bold;
}

.bookmark > a:hover {
	font-style: italic;
}

.bookmark > a:link, .bookmark > a:visited, .bookmark > a:hover, .bookmark > a:active {
	color: #eaeaea !important;
	background-color: #1A305C !important;
}

/******************************************** Contact Us *******************************************/

.labelCol {
	float: left;
	width: 100px;
}

#contact_form {
	margin-top: 20px;
}

#contact_form label {
	padding-left: 25px;
}

p#disclaimer {
	padding: 5px 0;
	font-style: italic;
	font-weight: bold;
}

#contact_form_submit  {
	margin-left: 125px; /* = .labelCol width + #contact_form padding-left*/
	padding: 20px 0;
}

#contact_form_submit input {
	margin-right: 25px;
}

.contact_form_field {
	margin: 10px 0;
}

.contact_form_field textarea {
	width: 500px;
	height: 100px;
}

.contact_form_field input {
	width: 300px;
}

#contact_thanks p{
	font-size: 20px;
	padding: 15px 0;
}

.required_field {
	color: red;
	padding-left: 5px;
}

/******************************************** Outline *******************************************/
#main ul > li > ul > li > ul > li {
	list-style-type: square;
}


/******************************************** Profiles *******************************************/

.profile figure {
  float: left;
}

.profile img {
  width: 100px;
  height: 100px;
}

.profile {
  clear: both;
  padding-bottom: 60px;
}







strong em{
	color:#15264A;
} 
