/* Nicky Yuen */
/* Stylesheet for http://students.thenet.ca/nyuen/week/2/index.html */

html {
	font-family: arial, verdana, sans-serif;
	background-color: #000000;
}

body {
	width: 940px;
	margin: 18px auto 18px auto;
	padding-right: 40px;
	background-color: #ffffff;
}

#header, #left, #content, h1, h2 {
	background-color: #ffffff;
}

#header h1 {
	margin: 18px 0 0 270px;
	font-weight: bold;
}

#header h2 {
	margin: 17px 0 20px 320px;
	font-size: 1.2em;
}

#left {
	float: left;
	width: 190px;
	font-size: 0.9em;
}

#left a {
	display: block;
	padding: 0 0 5px 30px;
}

#links {
	padding: 70px 0 0 20px;
}

p.links_header {
	font-weight: bold;
}

#links a {
	margin-left: -20px;
}

#content {
	margin-left: 200px;
	font-size: 0.9em;
}

#content h3 {
	font-size: 0.8em;
	font-style: italic;
}

#daycare, #swimming {
	border-bottom: 1px solid #aaaaaa;
}

.image {
	float: right;
	margin: 0 0 0 10px;
	border: 1px solid #aaaaaa;
	padding: 15px;
	border-radius: 5px;
	background-color: #FBFEEA;
}

.image div {
	font-style: italic;
	font-family: "times new roman", serif;
	text-align: center;
	padding-top: 4px;
}

p.posted {
	font-style: italic;
}

.section_footer {
	clear: both;
	padding-top: 10px;
	text-align: right;
	font-size: 0.8em;
}

.section_footer .date {
	color: #ff0000;
}

#comments p.comment_header, p.comment_response_header {
	font-size: 0.75em;
}

#comments p, #response p {
	margin: 6px 0;
}

#response {
	background-color: #eeeeee;
	padding: 7px 0 20px 15px;
}

#footer {
	clear: both;
	text-align: center;
	padding: 20px 0 20px 0;
}